doctype html
html(lang="en")
  head
    title dotablaze
    link(rel='stylesheet', href='/index.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.2.1/lodash.min.js')
    script#tournament-template(type='text/x-handlebars-template') !{tournamentTemplate}
    script#team-template(type='text/x-handlebars-template') !{teamTemplate}
    script.
      var socket = io('#{host}');
  body
    p
      strong dotablaze
      span : helping you blaze dota every day
    section.tournament
      .games
        .spinner
          img(src='/ajax-loader.gif')
    script(src='/index.js')
