<ul>
  {{#each games}}
  <li>
    <div><b>Match ID</b> {{match_id}}</div>
    <div><b>Duration</b> {{scoreboard.duration}}</div>
    <div><b>Radiant Tower State Number</b> {{scoreboard.radiant.tower_state}}</div>
    <div><b>Dire Tower State Number</b> {{scoreboard.radiant.tower_state}}</div>
  </li>
  {{/each}}
</ul>
